{% load static %}
<nav class="navbar navbar-expand-lg base-header-nav  nav-bar">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> <i class="fa fa-bars bars"> </i>   </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">





 <li class="nav-item dropdown">

      {% if  user.is_authenticated %}
              <a class="nav-link " href="{% url 'accounts:card' %}"  id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                سبد خرید

              </a>

      
      {% else %}
          <div class="dropdown-divider"></div>

      {% endif %}





      </li>



 <li class="nav-item dropdown">

      {% if  user.is_authenticated %}
              <a class="nav-link " href="{% url 'accounts:final_register' %}"  id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
               انتخاب محله

              </a>

      
      {% else %}
          <div class="dropdown-divider"></div>

      {% endif %}





      </li>






 <li class="nav-item dropdown">

      {% if  user.is_authenticated %}
              <a class="nav-link " href="{% url 'accounts:select_plan' %}"  id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
تمدید اشتراک 
              </a>

      
      {% else %}
          <div class="dropdown-divider"></div>

      {% endif %}





      </li>





    </ul>

  </div>
</nav>