{% extends "base.html"%}
{%load static%}
{% block title %}
{{title}}
{% endblock %}


{% block content %}


<div class="card-page">

<ul class="list-group">

  {% for keyword in keywords %}

  <li class="list-group-item  key-item">{{keyword}} 


   <button onclick="deleteKeyword({{keyword.id}})" type="button" class="close btn-card-btn" data-dismiss="alert" aria-label="Close">delete<span aria-hidden="true">&times;</span></button>
    
  </li>

  {% endfor %}

</ul>


<!-- card items -->

<br>
<div class="pardakht">
مبلغ قابل پرداخت تعداد روز های تمدید اشتراک
 قابل پرداخت :{{sum_of_payments}}

</div>

<br>

<form method="post" action="{% url 'accounts:payment_start' %}" >

    {% csrf_token %}
    <input type="hidden" name="amount" value="{{sum_of_payments}}">
    <input type="hidden" name="desc" value="خرید">
    <input type="hidden" name="name" value="{{user.username}}">
    <input type="hidden" name="phone" value="{{user.phone}}">
    <input type="hidden" name="mail" value="{{user.email}}">

  <button class="pay-btn " type="submit">پرداخت</button>



</form>

  
</div>




{% endblock %}

