{% extends "base.html"%}
{%load static%}
{% block title %}
{{title}}
{% endblock %}


{% block content %}

<div class="cartpage">


<ul class="list-group">

    {% for keyword in keywords  %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
   {{keyword}}
   <button onclick="deleteKeyword({{keyword.id}})" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>

</button>
  </li>
{% endfor %}
</ul>
<br>

<div>

    قابل پرداخت :{{sum_of_payments}}
</div>

<form method="post" action="{% url 'accounts:payment_start' %}" >

    {% csrf_token %}
    <input type="hidden" name="amount" value="{{sum_of_payments}}">
    <input type="hidden" name="desc" value="پاسداران,استخر">
    <input type="hidden" name="name" value="{{user.username}}">
    <input type="hidden" name="phone" value="{{user.phone}}">
    <input type="hidden" name="mail" value="{{user.email}}">

  <button type="submit">sss</button>



</form>




</div>




{% endblock %}

